body {
    background-color: #b6d7f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url(hero.png);
    padding: 80px;
    text-align: center;
}

.search-bar {
    margin: 30px auto;
    text-align: center;
}

.search-results {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.result-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-box p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}